<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/telefonicaid/CrossPlatform-Alarmz" version="1.0.0" viewmodes="maximized">
    <tizen:application id="OT2aUY7jmd.AnalogWatch" package="OT2aUY7jmd" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>CrossPlatform-Alarmz</name>
</widget>
